html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', serif;
  color: white;
  background: white;
  /*#35FFA6*/
  text-align: center;
}

.container {
  height: 96vh;
  box-shadow: 0em 0em 1em #DCDCDC;
  margin: 1em;
  background-color: #35FFA6;
}

button {
  font-family: 'Roboto Slab', serif;
  min-width: 150px;
  /* max-width: 300px; */
  margin: 2%;
  padding: 4% 11%;
  font-size: 1.2rem;
  font-weight: bolder;
}

#ghost-btn {
  background: transparent;
  border-color: #F2F2F2;
  color: white;
  border-style: solid;
  border-width: 3px;
}

#attention-btn {
  background: white;
  border-color: white;
  color: #35FFA6;
  /* border-style: none; */
  border-style: solid;
  border-width: 3px;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  width: 100%;
  text-shadow: 1px 1px #DCDCDC;
  min-height: 2em;
}

.getReady {
  font-size: 15rem;
  margin-top: 10%;
  min-height: 0;
}

.round {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: transparent;
  border-color: #F2F2F2;
  color: white;
  border-style: solid;
  border-bottom-width: 25px;
  font-size: 5rem;
  align-items: center;
  margin: 5%;
  border-width: 4px 4px 25px 4px;
}

.round-bottom {
  border-top-width: 25px;
  border-bottom-width: 3px;
}

header, footer, main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*min-height: 200px;*/
}

.padding-startscreen {
  padding: 30% 0;
}

#score {
  display: flex;
  justify-content: center;
  width: 50%;
}

#score p:nth-of-type(1) {
  align-self: flex-end;
}

#score p:nth-of-type(2) {
  font-size: 5rem;
  margin: 0 0 0 10%;
  animation: 0.5s ease-out 0s 1 turnAround;
}

@keyframes turnAround {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

#score p:nth-of-type(3) {
  align-self: flex-end;
  font-size: 3rem;
}

/* ---- Start the big Screen Design ---- */

@media (min-width: 920px) {
  #action-section {
    padding: 2% 0;
    padding: 2% 0;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    display: flex;
  }
  button {
    max-height: 2em;
  }
}
