html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Slab', serif;
  color: white;
  background: white;
  /*#35FFA6*/
  text-align: center;
}

#container {
  height: 96vh;
  box-shadow: 0em 0em 1em #DCDCDC;
  margin: 1em;
  background-color: #7bf7ab;
  animation: fadeIn 1s;
}

button {
  font-family: 'Roboto Slab', serif;
  /*min-width: 150px;*/
  /* max-width: 300px; */
  margin: 2%;
  padding: 4% 11%;
  font-size: 1.2rem;
  font-weight: bolder;
}

#ghost-btn {
  background: transparent;
  border-color: #F2F2F2;
  color: white;
  border-style: solid;
  border-width: 3px;
}

#attention-btn {
  background: white;
  border-color: white;
  color: #7bf7ab;
  /* border-style: none; */
  border-style: solid;
  border-width: 3px;
}

#action-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding: 8% 0;
  animation: fadein 1s;
}

h1 {
  font-weight: bolder;
  font-size: 3rem;
  width: 100%;
  text-shadow: 1.5px 1.5px #008B00;
  min-height: 2em;
}

.pop-up {
  width: 92%;
  position: absolute;
  background-color: #f5fffa;
  color: #7bf7ab;
  border: solid 10px #7bf7ab;
  display: flex;
  flex-direction: column;
  height: 96vh;
  padding: 10%;
  font-size: 2rem;
  animation: fadein 0.5s;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

#close-btn {
  background: transparent;
  border-color: #7bf7ab;
  color: #7bf7ab;
  border-style: solid;
  border-width: 3px;
}

.getReady {
  font-size: 15rem;
  margin-top: 10%;
  min-height: 0;
  animation: fadein 1s;
}

.round {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: transparent;
  border-color: #F2F2F2;
  color: white;
  border-style: solid;
  border-bottom-width: 25px;
  font-size: 5rem;
  align-items: center;
  margin: 5%;
  border-width: 4px 4px 25px 4px;
  animation: fadein 1s;
}

header, footer, main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*min-height: 200px;*/
}

.padding-start-screen {
  padding: 30% 0;
}

.padding-end-screen {
  padding: 15% 0;
}

#score {
  display: flex;
  justify-content: center;
  width: 50%;
}

#score p:nth-of-type(1) {
  align-self: flex-end;
}

#score p:nth-of-type(2) {
  font-size: 5rem;
  margin: 0 0 0 10%;
  animation: 0.5s ease-out 0s 1 turnAround;
}

/*for the overlay of th memes*/

.memes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 6% 0 4% 0;
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /*filter: url(#greyscale);*/
  filter: grey;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes turnAround {
  0% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

#score p:nth-of-type(3) {
  align-self: flex-end;
  font-size: 3rem;
}

#div-around {
  display: flex;
  flex-direction: column;
  animation: fadein 1s;
}

/* ---- Start the big Screen Design ---- */

@media (min-width: 920px) {
  #action-section {
    padding: 0 0;
  }
  #action-section button {
    padding: 2% 12%;
  }
  #div-around {
    /*height: 100vh;*/
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .padding-start-screen {
    padding: 25% 0 15%;
  }
  .padding-end-screen {
    padding: 0 0;
  }
}
